<nav class="navbar navbar-dark bg-secondary mb-5">
  <a class="navbar-brand" href="/" style="padding-left: 100px;"><h2>Text Sharing</h2></a>
  <div class="navbar-expand mr-auto" style="padding-left: 225px;">
    <div class="navbar navbar-nav">
      <a class="nav-item nav-link" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Poll</a>
      <a class="nav-item nav-link" href="#">News</a>
      <a class="nav-item nav-link" href="#">Random</a>
      <a class="nav-item nav-link" href="#">Stats</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <span class="navbar-light navbar-text hidden-xs" style="padding-right: 100px;">{{welcomeContent}}</span>
    </div>
  </div>
</nav>
